.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: -6px;
  width: 70px;
  height: 600px;
  background: linear-gradient(135deg, #0647a1, #0b5ed7);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  position: relative;
}

.buttons {
  margin-top: 80px;
  position: relative;
}

.activeBar {
  position: absolute;
  left: 10px;
  width: 5px;
  height: 60px;
  background: white;
  margin-left: -20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
}

.button svg {
  font-size: 24px;
  margin-bottom: 5px;
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #e6e6e6;
}

.active {
  background: rgba(144, 127, 206, 0.3);
  color: #ffffff;
}

.link {
  text-decoration: none;
  width: 100%;
}

@media (max-width: 360px) {
  .menu {
    width: 50px;
    height: 450px;
  }

  .button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .button svg {
    font-size: 18px;
  }
}
