.flashcardContainer {
  padding: 20px;
}

.flashcardTitle {
  color: #7d7d7d;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  margin-top: 30px;
}

.message {
  color: red;
}

.flashcardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.flashcardCard {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 20px;
  font-weight: bold;
}

.cardDescription {
  font-size: 16px;
  margin: 10px 0;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooterText {
  font-size: 14px;
  color: #555;
}

.noContent {
  font-size: 18px;
  color: #888;
}

.addFlashcardButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.addFlashcardButton:hover {
  background-color: #218838;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cardEditButton,
.cardDeleteButton {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.cardEditButton {
  background-color: #4caf50;
  color: white;
}

.cardDeleteButton {
  background-color: #f44336;
  color: white;
}
