.flashcardContainer {
  padding: 20px;
}

.flashcardTitle {
  color: #7d7d7d;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  margin-top: 50px;
}

.message {
  color: red;
}

.flashcardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.flashcardCard {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6 6px 6px rgba(8, 8, 8, 0.15);
}

.cardTitle {
  color: #203562;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 33.6px; /* 140% */
  align-items: left;
  margin-top: -5px;
}

.cardDescription {
  color: var(--Font, #303030);

  /* b1 */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooterText {
  font-size: 14px;
  color: #555;
}

.noContent {
  font-size: 18px;
  color: #888;
}

.addFlashcardButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.addFlashcardButton:hover {
  background-color: #218838;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cardEditButton,
.cardDeleteButton {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.cardEditButton {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  margin-left: 128px;
}

.cardEditButton:hover {
  background-color: #45a049;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.cardDeleteButton {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
}

.cardDeleteButton:hover {
  background-color: #da190b;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}
