.contentContainer {
  padding: 20px;
}

.contentTitle {
  color: var(--Typography-Light-Base-Secondary, #7d7d7d);

  /* b1 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
}

.message {
  color: red;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.contentCard {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-size: 20px;
  font-weight: bold;
}

.cardDescription {
  font-size: 16px;
  margin: 10px 0;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardFooterText {
  font-size: 14px;
  color: #555;
}

.cardFooterButton {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cardFooterButton:hover {
  background-color: #0056b3;
}

.noContent {
  font-size: 18px;
  color: #888;
}

.addContentButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addContentButton:hover {
  background-color: #218838;
}
