.Header {
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-top: 1px;
  border-radius: 1px;
  border: 1px solid #979797;
  background-color: white;
}

.HeaderGroup {
  display: grid;
  grid-template-columns: 10fr 4fr 1fr;
  padding-top: 15px;
  padding-bottom: 25px;
}

.HeaderLink {
  display: grid;
  grid-template-columns: 1fr 12fr;
  justify-content: center;
  margin-left: 80px;
}

.HeaderButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: left;
  padding-top: 5px;
  margin-left: 40px;
  margin-bottom: 10px;

}

.Header Button {
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderLink-singup:hover {
  background-color: rgb(220, 146, 247);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.HeaderLink-login:hover {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.HeaderGroup h1 {
  color: black;
  font-family: Prompt;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
}

.HeaderLink-singup {
  background-color: rgba(187, 107, 217, 1);
  color: white;
  border-radius: 4px;
  border: 1px solid rgba(187, 107, 217, 1);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  padding: 12px 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0.8px 5px 0px rgba(125, 6, 129, 0.836);
  transition: background 0.3s ease, transform 0.2s ease;
}

.HeaderLink-login {
  color: #979797;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  margin-top: px;
  padding: 12px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #979797;
  width: 110px;
  box-shadow: 0.8px 5px 0px rgba(95, 93, 95, 0.836);
  transition: background 0.3s ease, transform 0.2s ease;
}
