.Background {
  width: 1276px;
  height: 635px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #e9effe;
  align-items: center;
  margin-left: 160px;
  margin-top: -600px;
  display: grid;
}

.Background main {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr 15fr;
  justify-content: center;
  margin-top: -40px;
}

