.Background {
  width: 1276px;
  height: 600px;
  border-radius: 16px;
  background: #f3f6fd;
  align-items: center;
  margin-left: 160px;
  margin-top: -600px;
}

.Background h2 {
  padding-top: 20px;
  display: flex;
  width: 600px;
  height: 29px;
  justify-content: center;
  flex-shrink: 0;
  color: #0460d9;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
