.body {
  overflow-x: hidden;
  min-height: 100vh; /* Garantir que a página preencha toda a altura da tela */
  min-width: 100vw; /* Garantir que a página preencha toda a largura da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-top: -9px;
}

.background {
  display: flex;
  background-image: url("/image/Wallpaper_1.png");
  background-size: cover;
  margin-top: 52px;
  width: 85%; /* Garanta que o fundo ocupe o espaço desejado */
  height: 100vh; /* Ajuste conforme necessário */
}

.MainGroup {
  margin-top: 80px;
  grid-gap: 20px;
  padding-top: 20px;
  animation: landingPage;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.MainGroup h1 {
  width: 570px;
  height: 188px;
  flex-shrink: 0;

  color: #2f281e;
  font-family: Montserrat;
  font-size: 74px;
  font-style: normal;
  font-weight: 800;
  line-height: 100px; /* 135.135% */
}

.MainGroup p {
  width: 476px;
  height: 88px;
  margin-top: -25px;
  flex-shrink: 0;

  color: #544837;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 129.167% */
}

.MainGroup button {
  width: 255px;
  height: 56px;
  margin-top: -25px;
  flex-shrink: 0;

  border-radius: 6px;
  background: var(--Purple-2, #bb6bd9);

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.MainGroup button:hover {
  background: var(--Purple-1, #a44fc9);
}

.backgroundSecao2 {
  display: flex; /* Ativar flexbox */
  justify-content: center;

  width: 1535px;
  height: 624px;
  flex-shrink: 0;
  background: #f2f2f2;
}

.Secao2Title {
  color: #2f281e;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 35px;
}

.BlankSpace1 {
  width: 116px;
  height: 8px;
  flex-shrink: 0;

  background: #bb6bd9;

  margin-left: 638;
  margin-top: -20px;
}
.BlankSpace2 {
  width: 116px;
  height: 8px;
  flex-shrink: 0;

  background: #bb6bd9;

  margin-left: 708;
  margin-top: -20px;
}

.Secao2CardsGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.Secao2Card {
  width: 300px;
  height: 600px;
  margin-top: 15%;
  margin-left: 50px;
  flex-shrink: 0;
}

.Secao2CardSvg {
  margin-bottom: 50px;
  width: 60px;
  height: 60px;
}

.Secao2Card h3 {
  color: #2f281e;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin-top: -20px;
}

.text {
  color: #544837;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 290px;
  height: 100px;
  margin-bottom: 35px;
}

.Secao2Card a {
  color: #544837;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.Secao2Card a:hover {
  color: #bb6bd9;
}

.singupButton2 {
  width: 220px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #bb6bd9;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adicionar leve sombra */
  transition: background 0.3s ease; /* Animação para hover */
  margin-top: 520px;
  margin-left: -796px;
  border: 1px solid rgba(187, 107, 217, 1);
  box-shadow: 0.8px 5px 0px rgba(125, 6, 129, 0.836);
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.singupButton2:hover {
  background: var(--Purple-1, #a44fc9);
}

.backgroundSecao3 {
  width: 1535px;
  height: 634px;
}

.Secao3Title {
  color: #2f281e;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 0px;
}
.backgroundSecao4 {
  width: 1535px;
  height: 634px;
  flex-shrink: 0;

  background: rgba(177, 54, 247, 0.6);
}

.backgroundSecao5 {
  width: 1535px;
  height: 1268px;
}

.backgroundSecao6 {
  width: 1535px;
  height: 634px;

  background: #bb6bd9;
}

.backgroundSecao7 {
  width: 1535px;
  height: 634px;
}

.backgroundFooter {
  width: 1535px;
  height: 500px;
  margin-bottom: -15px;
  background: #bb6bd9;
}

.copyFooter {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 364px;
}

.HeaderLink {
  display: grid;
  grid-template-columns: 1fr 12fr;
  justify-content: center;
  margin-left: 80px;
}

@keyframes landingPage {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
